<!DOCTYPE html>
<html>
<head>
  <title>Band</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to 'See Venues', venues_path(@venue) %><br>
<%= link_to 'Create Venue', new_venue_path(@venue) %><br>
<%= link_to 'Create Band', new_band_path(@band) %><br>
<%= link_to 'Search Events', events_path(@event) %><br>

<%= yield %>

</body>
</html>
